
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="es-cl">
<head>
    @if (ViewBag.Produccion == 1)
    {
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-55339847-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-55339847-3');
        </script>
    }
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Desarrollo de software hosting  | secar soluciones Chile </title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">


    <!-- Favicons -->
    <link href="~/img/logo_200_100.png" rel="icon">
    <link href="~/img/logo_200_100.png" rel="logo_200_100">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">



    <!-- =======================================================
    * Template Name: Mamba - v2.0.1
    * Template URL: https://bootstrapmade.com/mamba-one-page-bootstrap-template-free/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>
    <section id="topbar" class="d-none d-lg-block">
        <div class="container clearfix">
            <div class="contact-info float-left">
                <i class="icofont-envelope"></i><a href="mailto:contacto@secarsoluciones.cl">contacto@secarsoluciones.cl</a>
                <i class="icofont-phone"></i> +56 9 489 953 77
            </div>
        </div>
    </section>
    <section id="empresa" class="about">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-12 d-flex flex-column justify-content-center about-content">
                    <div class="section-title">
                        <div class="row p-md-3">
                            <div class="col-12 text-center">
                                <img src="~/img/logo_415_209.png" class="img-fluid" style="max-width:300px" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-12">
                                &nbsp;
                            </div>
                            <div class="col-md-6 col-12 text-center">
                                <p>
                                    <h5>Hola! A continuaci&oacute;n ingresa tu rut para acceder a los pagos pendientes.</h5>
                                </p>
                            </div>
                            <div class="col-md-3 col-12">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row text-left p-3">
                            <div class="col-md-4 col-12">
                                &nbsp;
                            </div>
                            <div class="col-md-4 col-12">
                                <input type="text" class="form-control" id="rut-pago-cliente" maxlength="12" placeholder="Ingresa tu rut" onblur="FormatRut(this,1);" onfocus="DoClear(this);" onKeyPress="return soloCaracteresRut(event)" />
                            </div>
                            <div class="col-md-4 col-12">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row p-md-3">
                            <div class="col-12 text-center">
                                <div class="row">
                                    <div class="col-md-6 col-12 text-md-right text-center p-md-3">
                                        <input type="button" id="buscar-pagos" class="btn btn-danger" style="min-width:150px !important" onclick="javascript: VerPendientes();" value="Buscar Pagos" />
                                    </div>
                                    <div class="col-md-6 col-12 text-md-left text-center p-md-3 p-1">
                                        <input type="button" class="btn btn-danger btn-round" style="min-width:150px !important" value="Salir" onclick="javascript: Volver();" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-md-4">
                            <div class="col-12 text-center">
                                <img src="~/img/webpay-plus.png" class="img-fluid" style="max-width:300px" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal Mensaje -->
    <div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><label id="tituloMensaje">Informaci&oacute;n</label></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label id="contenidoMensaje"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-round btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS Files -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>
    <script src="~/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="~/vendor/venobox/venobox.min.js"></script>
    <script src="~/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/vendor/counterup/counterup.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/global.js"></script>

    <script type="text/javascript">


        function Volver() {
            window.location.href='@Url.Action("Index", "Home")';
        }

        function VerPendientes() {
            debugger;
            var rutCliente = $("#rut-pago-cliente").val();

            if (rutCliente.length == 0) {
                mensaje('Hola! debes ingresar tu rut.');
                return false;
            }

            if (rutCliente.length > 0 && !RutValido(rutCliente)) {
                mensaje('Hola! rut ingresado no es valido');
                return false;
            }

            if (rutCliente.length > 0 && RutValido(rutCliente) && !ExisteCliente(rutCliente)) {
                mensaje('Hola! en nuestros registros aun no se ha creado tu cuenta de cliente.');
                return false;
            }

            var vista = "/PagoCliente/Buscador?cliente=" + rutCliente;

            window.location.href = vista;
        }

        function ExisteCliente(rut) {

            var resultado = new Object();
            $.ajax({
                url: '@Url.Action("ExisteCliente", "PagoCliente")',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ 'rut': rut }),
                async: false,
                success: (function (data) {

                    resultado = data;
                }),
            });
            debugger;
            return resultado;
        }

    </script>
</body>
</html>
